@keyframes changeShape{

	0%{
		border-radius:0%;
	}

	25%{
		border-radius:12.5%;
	}

	50%{
		border-radius:25%;
	}

	100%{
		border-radius:50%;
	}

}

@keyframes rotate{

	from{
		transform:rotate(0deg);
	}

	to{
		transform:rotate(360deg);
	}

}

@keyframes reduceSize{

	from{
		height:200px;
		width:200px;
	}

	to{
		height:100px;
		width:100px;
	}

}


/*div{*/
/*	height:200px;*/
	/*100px;*/

/*	width:200px;*/
	/*100px;*/

/*	position:absolute;*/

/*	top:40%;*/
	/*20%;*/

/*	left:40%;*/
	/*20%;*/

/*	background-color:aquamarine;*/

	/*transform:scale(1.5, 0.4);*/
	/*scale(0.2);*/
	/*rotateY(100deg);*/
	/*rotate(100deg):*/
	/*rotate(-120deg);*/

	/*transform:translate(10%, 100px);*/
	/*translateX(10%, 100px);*/

	/*transition:height 1s ease-in-out 0.5s;*/

	/*transition:1s steps(10, end);*/
	/*1s ease-in-out;*/

	/*animation:changeShape 1s ease-in-out 4 alternate;*/
/*	animation-name:changeShape, rotate, reduceSize;*/
/*	animation-duration:0.8s, 0.8s, 0.8s;*/
/*	animation-iteration-count:infinite, infinite, infinite;*/
/*	animation-direction:alternate, alternate, alternate;*/
/*}*/

/*div:hover{*/
	/*height:400px;*/
	/*width:400px;*/

	/*transform:scale(1.5) translate(150px);*/
/*}*/

.one{
	height:150px;
	width:150px;
	position:absolute;
	top:10%;
	left:10%;
	background-color:aquamarine;
}

.two{
	height:150px;
	width:150px;
	position:absolute;
	top:50%;
	left:10%;
	background-color:orange;
}